In [1]:
import pandas as pd
import glob
import os
import numpy as np

In [2]:
path = r'E:\data analytics\pandas\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data'                     # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
concatenated_df.to_csv("all_data.csv", index = False)

In [3]:
df = pd.read_csv("all_data.csv")

In [4]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [5]:
df.shape

(186850, 6)

In [6]:
df.dtypes
#df.replace(np.nan, 0, inplace=True)

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [7]:
df.sort_values('Order ID', inplace=True)

In [8]:
df_new = df.dropna(thresh=6)

In [9]:
df_new[df_new['Order ID'] == 'Order ID']
#df[df['Product'] == 'Product']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
67039,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
68620,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
68649,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
68741,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
69444,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
47406,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
107991,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
47479,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
30648,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
72448,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [10]:
new_df = df_new[df_new["Order ID"] == "Order ID"].index

In [11]:
df_new.drop(new_df, inplace = True)

c:\python\python39\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [38]:
df_new.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order Time,Month,Total Sales,City
0,141234,iPhone,1,700.00,2019-01-22,"944 Walnut St, Boston, MA 02215",21:25,Jan,700.00,Boston (MA)
1,141235,Lightning Charging Cable,1,14.95,2019-01-28,"185 Maple St, Portland, OR 97035",14:15,Jan,14.95,Portland (OR)
2,141236,Wired Headphones,2,11.99,2019-01-17,"538 Adams St, San Francisco, CA 94016",13:33,Jan,23.98,San Francisco (CA)
3,141237,27in FHD Monitor,1,149.99,2019-01-05,"738 10th St, Los Angeles, CA 90001",20:33,Jan,149.99,Los Angeles (CA)
4,141238,Wired Headphones,1,11.99,2019-01-25,"387 10th St, Austin, TX 73301",11:59,Jan,11.99,Austin (TX)

In [13]:
df_new.count(axis = 0)

Order ID            185950
Product             185950
Quantity Ordered    185950
Price Each          185950
Order Date          185950
Purchase Address    185950
dtype: int64

In [14]:
df_new.index = range(185950)

In [15]:
df_new.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [16]:
df_new[["Order Date", "Order Time"]] = df_new["Order Date"].str.split(" ", expand=True)

c:\python\python39\lib\site-packages\pandas\core\frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [18]:
df_new['Order Date']= pd.to_datetime(df_new['Order Date'])
df_new.dtypes

C:\Users\AMD~1\AppData\Local\Temp/ipykernel_4284/774443669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Order Date']= pd.to_datetime(df_new['Order Date'])

Order ID                    object
Product                     object
Quantity Ordered            object
Price Each                  object
Order Date          datetime64[ns]
Purchase Address            object
Order Time                  object
dtype: object

In [19]:
df_new['Month'] = pd.DatetimeIndex(df_new['Order Date']).month

C:\Users\AMD~1\AppData\Local\Temp/ipykernel_4284/2998580403.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Month'] = pd.DatetimeIndex(df_new['Order Date']).month

In [22]:
df_new["Month"].replace({ 1: "Jan", 2: "Feb", 3:"Mar", 4:"April", 5:"May", 6: "June", 7: "July", 8: "Aug", 9: "Sep", 10: "oct",11: "Nov", 12: "Dec"}, inplace=True)

c:\python\python39\lib\site-packages\pandas\core\generic.py:6610: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [23]:
df_new.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order Time,Month
0,141234,iPhone,1,700,2019-01-22,"944 Walnut St, Boston, MA 02215",21:25,Jan
1,141235,Lightning Charging Cable,1,14.95,2019-01-28,"185 Maple St, Portland, OR 97035",14:15,Jan
2,141236,Wired Headphones,2,11.99,2019-01-17,"538 Adams St, San Francisco, CA 94016",13:33,Jan
3,141237,27in FHD Monitor,1,149.99,2019-01-05,"738 10th St, Los Angeles, CA 90001",20:33,Jan
4,141238,Wired Headphones,1,11.99,2019-01-25,"387 10th St, Austin, TX 73301",11:59,Jan

In [24]:
df_new['Quantity Ordered'] = df_new['Quantity Ordered'].astype(int)

C:\Users\AMD~1\AppData\Local\Temp/ipykernel_4284/1478054786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Quantity Ordered'] = df_new['Quantity Ordered'].astype(int)

In [25]:
df_new['Price Each'] = pd.to_numeric(df_new['Price Each'])

C:\Users\AMD~1\AppData\Local\Temp/ipykernel_4284/320459746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Price Each'] = pd.to_numeric(df_new['Price Each'])

In [26]:
df_new["Total Sales"] = df_new["Quantity Ordered"] * df_new["Price Each"]

C:\Users\AMD~1\AppData\Local\Temp/ipykernel_4284/4195670175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["Total Sales"] = df_new["Quantity Ordered"] * df_new["Price Each"]

In [27]:
df_new.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order Time,Month,Total Sales
0,141234,iPhone,1,700.00,2019-01-22,"944 Walnut St, Boston, MA 02215",21:25,Jan,700.00
1,141235,Lightning Charging Cable,1,14.95,2019-01-28,"185 Maple St, Portland, OR 97035",14:15,Jan,14.95
2,141236,Wired Headphones,2,11.99,2019-01-17,"538 Adams St, San Francisco, CA 94016",13:33,Jan,23.98
3,141237,27in FHD Monitor,1,149.99,2019-01-05,"738 10th St, Los Angeles, CA 90001",20:33,Jan,149.99
4,141238,Wired Headphones,1,11.99,2019-01-25,"387 10th St, Austin, TX 73301",11:59,Jan,11.99

In [37]:
def get_city(address):
    return address.split(',')[1]
def get_state(address):
    return address.split(',')[2].split(' ')[1]
df_new["City"] = df_new["Purchase Address"].apply(lambda x: get_city(x) + ' ('+ get_state(x)+ ')' )
df_new.head()

C:\Users\AMD~1\AppData\Local\Temp/ipykernel_4284/1057230045.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["City"] = df_new["Purchase Address"].apply(lambda x: get_city(x) + ' ('+ get_state(x)+')')

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order Time,Month,Total Sales,City
0,141234,iPhone,1,700.00,2019-01-22,"944 Walnut St, Boston, MA 02215",21:25,Jan,700.00,Boston (MA)
1,141235,Lightning Charging Cable,1,14.95,2019-01-28,"185 Maple St, Portland, OR 97035",14:15,Jan,14.95,Portland (OR)
2,141236,Wired Headphones,2,11.99,2019-01-17,"538 Adams St, San Francisco, CA 94016",13:33,Jan,23.98,San Francisco (CA)
3,141237,27in FHD Monitor,1,149.99,2019-01-05,"738 10th St, Los Angeles, CA 90001",20:33,Jan,149.99,Los Angeles (CA)
4,141238,Wired Headphones,1,11.99,2019-01-25,"387 10th St, Austin, TX 73301",11:59,Jan,11.99,Austin (TX)